:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NetRegular;
    src: url(./fonts/NetflixSans-Regular.otf);
}

@font-face {
    font-family: NetBold;
    src: url(./fonts/NetflixSans-Bold.otf);
}

.logo {
    margin-left: 5px;
    font-family: NetBold;
    color: var(--vermelho);
    font-size: 40px;
}

body {
    background: var(--preto);
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    margin-right: 10px;
    color: #AAA;
}

header nav a:hover {
    color: rgb(255, 255, 255);
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../assets/img-fime-principal-elite.jpg');
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(219, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: rgba(255, 2, 2, 0.815);
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.item {
    height: 100%;
    width: 100%;
}

.box-filme img {
    display: block;
    cursor: pointer;
    background-color: #E50914;
}

.carrosel-filmes {
    margin-top: 5px;
}